.group{
  height: 100%;
  display: inline-block;
  line-height: 0;
}

.item{
  line-height: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.item img{
  transform: scale(1);
  object-fit: cover;
  display: block;
  object-position: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  transition: all .5s;
}

.item:hover img{
  transform: scale(1.1);
}

.item::after{
  content: '';
  position: absolute;
  opacity: 1;
  transition: all .5s;
  background: linear-gradient(45deg,rgba(114,97,147,.25) 25%,rgba(227,123,124,.25) 50%,rgba(255,228,180,.25));
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.galeryVideo{
  width: 65%;
  height: calc(70vw*0.5625);
  line-height: 0;
  letter-spacing: 0;
}

.galeryImages{
  width: 65%;
  height: 100vmin;
  line-height: 0;
  padding: .5rem 0;
  box-sizing: border-box;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.contentImages .content{
  font-size: .7rem;
}

.galeryImages .selected{
  max-width: 100%;
  max-height: 70%;
  padding: .3rem;
  box-sizing: border-box;
}

.projectShow i{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.galeryImages .chose{
  display: inline-flex;
  height: 30%;
}
.galeryImages .chose .box{
  padding: .3rem;
  /* display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content:center; */
}
.galeryImages .chose .box img{
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
      /* display: inline; */

}

.contentImages{
  width: 25%;
}

.item:hover{
  cursor: pointer;
}

.item:hover::after{
  opacity: 0;
}


.projectShow{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(46,43,55,.875);
  z-index: 200;
}

.full{
  height: 100%;
  width: 100%;
}

.halfH{
  height: 50%;
  width: 100%;
}

.halfHW{
  height: 50%;
  width: 50%;
}

.halfHlargeW{
  height: 50%;
  width: 65%;
}

.halfHsmallW{
  height: 50%;
  width: 35%;
}

.smallG{
  width: 18rem;
}

.mediumG{
  width: 25rem;
}

.largeG{
  width: 35rem;
}

@media (max-width:720px){
  .galeryVideo{
    width: 100%;
    height: calc(100vw*0.5625);
    margin: 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    line-height: 0;
    letter-spacing: 0;
  }
  .group{
    width: 100%!important;

  }
  .smallG{
    height: 300px;
  }

  .mediumG{
    height: 350px;
  }

  .largeG{
    height: 450px;
  }
  .wraper{
    font-size: 0;
    line-height: 0;
  }
  .projectShow{
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: flex-start;
  }
  .galeryImages{
    width: 100%;
    height: 80vmin;
    padding-top: 0rem;
  }

  .galeryImages .chose{
    display: inline-flex;
    height: 20%;
  }

  .galeryImages .selected{
    padding-top: 1rem;
  }
  .contentImages{
    width: 80%;
  }

  .contentImages h3{
    margin-top: 0;

  }
}
