<div class="wraper" [ngStyle]="{'width' : width+'rem', 'background':'linear-gradient(45deg, #60346b 0%,#3c3b61 100%)'}">
    <form (ngSubmit)="sendEmail()" #messageform="ngForm" *ngIf="!sended">
    <div class="field half">
      <label for="email">Nome</label>
      <input type="text" required [(ngModel)]="name" name="name" value="">
    </div>
    <div class="field half">
      <label for="email">Email</label>
      <input type="email" required [(ngModel)]="email" name="email" value="">
    </div>
    <div class="field full">
      <label for="email">Mensagem</label>
      <textarea name="name" required [(ngModel)]="message" name="email" rows="8"></textarea>
    </div>
    <div class="field">

      <button *ngIf="!sending" [disabled]="!messageform.form.valid" type="submit" name="Enviar">Enviar Mensagem</button>
      <button *ngIf="sending" disabled="true" style="background-color:#afa28b" name="Enviar"><i style="font-size:1.2em;margin-right:.2rem;" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>Enviando</button>
    </div>
  </form>
  <div *ngIf="sended" class="sended">
    Mensagem enviada!
  </div>
  <div class="vl"></div>
  <div class="socialMedias">
    <div *ngFor="let item of socialMedias" class="">
      <i class="fa {{item.icon}}" aria-hidden="true"></i><a href="{{item.link}}">{{item.title}}</a>
    </div>
  </div>
</div>
