.box{
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-top: 56.25%;
  width: 30rem;
  flex-direction: row-reverse;
  flex-shrink: 1;
  flex-grow: 1;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.first-section .content{
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
}
@media (max-width:425px) {
  .first-section .content{
    flex-wrap: wrap;
  }
}
